@*Isklucivo EDEN model*@
@model List<Pizza>

<h2 class="text-center" >Pizza Menu</h2>

<p>Please select a pizza</p>

<ol>
@foreach(var pizza in Model){
    <li>Name @pizza.Name - Price @pizza.Price</li>
}
</ol>