@model OrderViewModel

<h3>Create new Order</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create"  method="post">

            <div class="form-group">
                <label class="form-label" asp-for="PizzaName"></label>
                <input type="text" class="form-control" asp-for="PizzaName" />
                <span class="text-danger" asp-validation-for="PizzaName"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="PaymentMethod"></label>
                <select class="form-control" asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()">
                    <option selected disabled>=== Select Payment Method ===</option>
                </select>
                <span class="text-danger" asp-validation-for="PaymentMethod"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="UserId"></label>
                <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users,"Id","FullName"))">
                    <option selected disabled>=== Select User ===</option>
                </select>
            </div>

            <button type="submit">Create Order</button>

        </form>
    </div>
</div>