@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}

<h2 class="text-center text-warning">Details for order &numero; @Model.OrderId</h2>
<br />

<partial name="~/Views/Shared/_OrderDetailsTable.cshtml" for="@Model"></partial>

<a asp-action="Index" asp-controller="Order">Back to Orders</a>
<a asp-action="Index" asp-controller="Home">Back to Home</a>