@model List<OrderListViewModel>

<div class="d-flex flex-column" style="font-size:1.5rem;">
    <h2 class="text-warning" style="font-size:1.5em;">List of orders</h2><br />
    <ul>
        @foreach (var orderInfo in Model)
        {
            <li><b>Pizza Name :</b> @orderInfo.PizzaName</li>
            <li><b>User Full Name :</b> @orderInfo.UserFullName</li>
            <br />
        }
    </ul>
</div>